<div class="yui-t6">
  <div id="yui-main">
    <div class="yui-b">
      <%= error_messages_for :participation %>

      <% form_for(@participation) do |f| %>
        <p>
          <b>Player</b><br />
          <%= h @participation.player.fullname %>
        </p>

        <p>
          <b>Tournament</b><br />
          <%= h @participation.tournament.name %>
        </p>

        <p>
          <b>Rank</b><br />
          <%= f.text_field :rank %>
        </p>

        <p>
          <b>Points</b><br />
          <%= f.text_field :points %>
        </p>

        <p>
          <%= f.submit "Update" %>
        </p>
      <% end %>

      <%= link_to 'Show', @participation %> |
      <%= link_to 'Back', participations_path %>
    </div> <!-- .yui-b -->
  </div> <!-- #yui-main -->
  <div class="yui-b">
    <table>
      <tr>
        <th>Rank</th><th>Points</th>
      </tr>
<% Point.table[@participation.tournament.structure][@participation.tournament.level].each do |p| %>
      <tr><td><%=h p[0]%></td><td><%=h p[1]%></td></tr>
<% end %>
    </table>
  </div> <!-- .yui-b -->
</div> <!-- .yui-t6 -->

