<h1>Editing participation</h1>

<div class="help">
  <table>
    <tr>
      <th>Rank</th><th>Points</th>
    </tr>
    <tr><td>1</td><td>35</td></tr>
    <tr><td>2</td><td>30</td></tr>
    <tr><td>3</td><td>25</td></tr>
    <tr><td>4</td><td>20</td></tr>
    <tr><td>5</td><td>18</td></tr>
    <tr><td>9</td><td>13</td></tr>
  </table>
</div>
<%= error_messages_for :participation %>

<% form_for(@participation) do |f| %>
  <p>
    <b>Player</b><br />
    <%= h @participation.player.fullname %>
  </p>

  <p>
    <b>Tournament</b><br />
    <%= h @participation.tournament.name %>
  </p>

  <p>
    <b>Rank</b><br />
    <%= f.text_field :rank %>
  </p>

  <p>
    <b>Points</b><br />
    <%= f.text_field :points %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @participation %> |
<%= link_to 'Back', participations_path %>
