<h1>New participation</h1>

<%= error_messages_for :participation %>

<% form_for(@participation) do |f| %>
  <p>
    <b>Player</b><br />
    <%= f.collection_select :player_id, @players, :id, :fullname %>
  </p>

  <p>
    <b>Tournament</b><br />
    <%= f.collection_select :tournament_id, @tournaments, :id, :name %>
  </p>

  <p>
    <b>Rank</b><br />
    <%= f.text_field :rank %>
  </p>

  <p>
    <b>Points</b><br />
    <%= f.text_field :points %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', participations_path %>
