<h1>Editing tournament</h1>

<%= error_messages_for :tournament %>

<% form_for(@tournament) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Structure</b><br />
    <%= f.select :structure, %w(single double single-q double-q) %>
  </p>

  <p>
    <b>Level</b><br />
    <%= f.select :level, %w(pro master international wcs) %>
  </p>

  <p>
    <b>Startdate</b><br />
    <%= f.date_select :startdate %>
  </p>

  <p>
    <b>Enddate</b><br />
    <%= f.date_select :enddate %>
  </p>

  <p>
    <b>Active</b><br />
    <%= f.check_box :active %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @tournament %> |
<%= link_to 'Back', tournaments_path %>
