<p>
  <b>Name:</b>
  <%=h @tournament.name %>
</p>

<p>
  <b>Structure:</b>
  <%=h @tournament.structure %>
</p>

<p>
  <b>Level:</b>
  <%=h @tournament.level %>
</p>

<p>
  <b>Startdate:</b>
  <%=h @tournament.startdate %>
</p>

<p>
  <b>Enddate:</b>
  <%=h @tournament.enddate %>
</p>


<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
