<div class="yui-t6">
  <div id="yui-main">
    <div class="yui-b">
<div style="float: left; margin: 10px;">
  <%= image_tag "players/#{@player.username}.jpg" %>
</div>

<div style="float: left; margin: 10px;">
<p>
  <b>Total points:</b>
  <%= @player.total_points %>
</p>

<p>
  <b>Username:</b>
  <%=h @player.username %>
</p>

<p>
  <b>Firstname:</b>
  <%=h @player.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @player.lastname %>
</p>

<p>
  <b>Country:</b>
  <%= image_tag "flags/#{@player.country.downcase}.gif" %>
</p>

<p>
  <b>Gender:</b>
  <%=h @player.gender %>
</p>

<p>
  <b>Birthdate:</b>
  <%=h @player.birthdate %>
</p>
<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>

</div>
    </div>  <!-- .yui-b -->
  </div>  <!-- #yui-main -->

  <div class="yui-b">
<h2>Tournament participations</h2>
<ul>
<% for part in @player.participations %>
<li><%= h part.rank %> - <%= link_to part.tournament.name, tournament_path(part.tournament_id) %></li>
<% end %>
</ul>

<h2>Matches won</h2>
<ul>
<% for match in @player.matches_won %>
<li><%= h match.player_a.username %> vs <%= h match.player_b.username %> - <%= link_to "Details", match_path(match.id) %></li>
<% end %>
</ul>
  </div>  <!-- .yui-b -->
</div>  <!-- .yui-t6 -->
