<h1>Editing match</h1>

<%= error_messages_for :match %>

<% form_for(@match) do |f| %>
  <p>
    <b>Team a</b><br />
    <%= h @match.player_a.fullname %>
  </p>

  <p>
    <b>Team b</b><br />
    <%= h @match.player_b.fullname %>
  </p>

  <p>
    <b>Tournament</b><br />
    <%= h @match.tournament.name %>
  </p>

  <p>
    <b>Round</b><br />
    <%= f.text_field :round %>
  </p>

  <p>
    <b>Played at</b><br />
    <%= f.datetime_select :played_at %>
  </p>

  <p>
    <b>Scores</b><br />
    <%= f.text_field :scores %>
  </p>

  <p>
    <b>Winner</b><br />
    <%= f.collection_select :winner_id, @players, :id, :fullname, :include_blank => true %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @match %> |
<%= link_to 'Back', matches_path %>
