<h1>Listing matches</h1>

<table border="1">
  <tr>
    <th>Team A</th>
    <th>Team B</th>
    <th>Tournament</th>
    <th>Round</th>
    <th>Played at</th>
    <th>Scores</th>
    <th>Winner</th>
  </tr>

<% for match in @matches %>
  <tr>
    <td><%=h match.player_a.username %></td>
    <td><%=h match.player_b.username %></td>
    <td><%=h match.tournament.name %></td>
    <td><%=h match.round %></td>
    <td><%=h match.played_at.to_s(:db) %></td>
    <td><%=h match.scores %></td>
    <td><%=h match.winner ? match.winner.username : "" %></td>
    <td><%= link_to 'Show', match %></td>
    <td><%= link_to 'Edit', edit_match_path(match) %></td>
    <td><%= link_to 'Destroy', match, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New match', new_match_path %>
