<p>
  <b>Team a:</b>
  <%= link_to @match.player_a.fullname, player_path(@match.team_a_id) %>
</p>

<p>
  <b>Team b:</b>
  <%= link_to @match.player_b.fullname, player_path(@match.team_b_id) %>
</p>

<p>
  <b>Tournament:</b>
  <%= link_to @match.tournament.name, tournament_path(@match.tournament_id) %>
</p>

<p>
  <b>Round:</b>
  <%=h @match.round %>
</p>

<p>
  <b>Played at:</b>
  <%=h @match.played_at ? @match.played_at.to_s(:db) : "" %>
</p>

<p>
  <b>Scores:</b>
  <%=h @match.scores %>
</p>

<p>
  <b>Winner:</b>
  <%=h @match.winner ? @match.winner.fullname : "" %>
</p>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'New', new_match_path %> |
<%= link_to 'Back', matches_path %>
