<p>
  <b>Team a:</b>
  <%=h @match.player_a.fullname %>
</p>

<p>
  <b>Team b:</b>
  <%=h @match.player_b.fullname %>
</p>

<p>
  <b>Tournament:</b>
  <%=h @match.tournament.name %>
</p>

<p>
  <b>Round:</b>
  <%=h @match.round %>
</p>

<p>
  <b>Played at:</b>
  <%=h @match.played_at %>
</p>

<p>
  <b>Scores:</b>
  <%=h @match.scores %>
</p>

<p>
  <b>Winner:</b>
  <%=h @match.winner ? @match.winner.fullname : "" %>
</p>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
